body {
  background: url("") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#counter {
    background-color: black;
    color: white;
    display: table;
    padding: 10px;
  }